/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
    --about: #F6C30B;
    --project: #F2866E;
    --design: #222222;
    --contact: #22A4F5;
    --fontDark: #111111;
    --fontDark_02: #303030;
    --fontDark_03: #606060;
    --white: #FFFDF9;
    --gray: #b1b1b1;
}

/* 서브페이지 네비 숨김 */
 .main_nav_gnb.side {
    position: fixed;
    top: 0;
    z-index: 20;
    right: -100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.main_nav_gnb.side.on {
    right: 0;
}

/* 첫 메인 페이지 */
 .main_nav_gnb {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main_nav_gnb > ul > li {
    position: relative;
}

.main_nav_gnb > ul > li:nth-child(1) > a{
    display: block;
    height: 25vh;
    background: var(--about);
    color: var(--project);
}

.main_nav_gnb > ul > li:nth-child(2) > a{
    display: block;
    height: 25vh;
    background: var(--project);
    color: var(--design);
}

.main_nav_gnb > ul > li:nth-child(3) > a{
    display: block;
    height: 25vh;
    background: var(--design);
    color: var(--contact);
    z-index: 1;
}

.main_nav_gnb > ul > li:nth-child(4) > a{
    display: block;
    height: 25vh;
    background: var(--contact);
    color: var(--about);
    z-index: 2;
}

.main_nav_gnb > ul > li a {
    font-size: 6.6rem;
    font-weight: bolder;
    text-align: left;
    padding-left: 2rem;
    position: relative;
    letter-spacing: -0.4rem;
}

.main_nav_gnb > ul > li a > span {
    position: absolute;
    bottom: -1.2rem;
}


@media (min-width:900px) {
    .main_nav_gnb > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .main_nav_gnb > ul > li {
        display: block;
        width: 25%;
        -webkit-transition: width 1.1s;
        -o-transition: width 1.1s;
        transition: width 1.1s;
    }

 
    .main_nav_gnb > ul > li:nth-child(1) > a{
        width: 100%;
        height: 100vh;
    }
 
    .main_nav_gnb > ul > li:nth-child(2) > a{
        width: 100%;
        height: 100vh;
    }

    .main_nav_gnb > ul > li:nth-child(3) > a{
        width: 100%;
        height: 100vh;
    }

    .main_nav_gnb > ul > li:nth-child(4) > a{
        width: 100%;
        height: 100vh;
    }

    .main_nav_gnb > ul > li a {
        font-size: 17rem;
        padding-left: 0;
    }

    .main_nav_gnb > ul > li a > span {
        width: 17rem;
        position: absolute;
        right: -3rem;
        bottom: 4.5rem;
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg);
        -webkit-transition: right 0.8s;
        -o-transition: right 0.8s;
        transition: right 0.8s;
    }

    .main_nav_gnb > ul > li a:hover > span {
        right: 6rem;
    }

    .main_nav_gnb > ul > li:hover  {
        width: 500px;
    }
}

@media (min-width:1400px) {
    .main_nav_gnb > ul > li:hover  {
        width: 900px;
    }
} 